<!doctype html>
<html lang="en">
  <head>

	    <div th:replace="fragments/header :: header-css" />
    <title>Anabh Centre</title>
  </head>
  <div th:replace="fragments/header :: header" />
  <br/>
  <br/>
  <br/>
  <div class = "container" id = "myShirt">
	<div class = "row">
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_1.png" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_2.jpg" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_3.jpg" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_9.jpeg" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_5.png" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_6.jpg" class = "img-fluid img-thumbnail"></img></a></div>   
	</div>
	
	<div class = "row">
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_7.png" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_8.jpg" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_9.jpeg" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_10.png" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_11.png" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_12.jpg" class = "img-fluid img-thumbnail"></img></a></div>   
	</div>
	
	<div class = "row">
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_13.png" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_14.jpg" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_1.png" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_16.jpeg" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_17.png" class = "img-fluid img-thumbnail"></img></a></div>
	   <div class = "col-sm-2 mcol-1"><a href = "#"><img src = "img/shirts/Shirt_18.jpg" class = "img-fluid img-thumbnail"></img></a></div>   
	</div>
  </div>  
  <script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>